.content {
  display: flex;
  flex-wrap: wrap;
}
/*
.scores {
  margin-right: 5px;
}
*/
.menu {
	display: none;
}
.top-news, .scores, .weather {
	width: 100%;
}

.hero, .top-news, .recent-news, .scores, .weather {
	flex-grow: 1;
}

@media screen and (max-width: 500px) {
	body {
  	font-size: 12px;
  }		
}

@media screen and (max-width: 767px) {  
  .menu {
  	display: inline-block;
		font-size: 2em;
		position: absolute;
		right: 0;
		padding: 0.5em;
	}
	.menu:hover, .menu:focus {
		cursor: pointer;
	}
  .nav {  	
  	z-index: 1;
  	background-color: rgba(0, 0, 0, 0.9);
  	position: absolute;
  	/*-webkit-transform: translate(0, -160px);
    transform: translate(0, -160px);
    /* Optionally, we animate the drawer. 
    transition: transform 0.3s ease;*/
    
    -webkit-transition: height 0.3s;
    transition: height 0.3s;

    height: 0;
  	opacity: 0;
  }
  nav.open {  	
  	opacity: 1;
    height: 50px;
  }
  .nav a:hover {
  	color: white;
  }
  .nav__item {
  	padding: 14px;
  }
  .header__logo {
  	height: 48px;
  }
  .header__title {
  	font-size: 2em;
  }
  	
}

@media screen and (min-width: 768px) {    
  .top-news, .scores {
    width: 49%;
  }
  .weather {
  	width: 100%;
  }
  .top-news {
	height: 320px;
  }
}

@media screen and (min-width: 990px) {
  main, .header__inner, .nav, .content {
  	width: 990px;
  	margin-right: auto;
  	margin-left: auto;
  }	
  .hero, .weather {
  	width: 49%;
  }	
  .hero {
  	order: 1;
  }
  .weather{
  	order: 3;
  }
  .top-news {
  	order: 2;
  }
  .scores {
  	order: 4;
  }
  .recent-news {
  	order: 5;
  }
}